.playwrite-in-font {
    font-family: "Playwrite IN", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  .pacifico-regular {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
  }